<% include header %>
<body>
		<%- include('menu', {active: active}); %>
		<div class="content">
	<div class="main wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		<div class="error-404 text-center">
				<h1>404</h1>
				<p>this link dead link</p>
				<a class="b-home" href="/">Back to Home</a>
			</div>
	</div>
</div>
	<% include footer %>
 </body>
</html>