<div class="categories-section">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-4 up wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3>À venir</h3>
				<div class="up1">
					<div class="up-img">
						<img src="/assets/images/im1.jpg">
					</div>
					<div class="up-text">
						<a href="#">sagittis magna</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="up1">
					<div class="up-img">
						<img src="/assets/images/im2.jpg">
					</div>
					<div class="up-text">
						<a href="#">Integer molest</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="up1">
					<div class="up-img">
						<img src="/assets/images/im3.jpg">
					</div>
					<div class="up-text">
						<a href="#">Fusce suscipit</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-4 cat wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3>Categories</h3>
				<ul>
					<li>Praesent vestim molestie lacus.</li>
					<li>Cras consequat iaculis lorem</li>
					<li>Consectetur adipiscing iaculis</li>
					<li>Lorem ipsum dolor sit</li>
					<li>Cum sociis natoque penatibus et magnis </li>
					<li>Integer molestie lorem</li>
					<li>lorem,Cras consequat iaculis id vehicula</li>
				</ul>
			</div>
			<div class="col-md-4 cont wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<h3>Contacts utiles</h3>
				<ul>
					<li><i class="phone"></i></li>
					<li><p>237-000-000-0000</p><p>237-000-000-0000</p></li>
				</ul>
				<ul>
					<li><i class="smartphone"></i></li>
					<li><p>Nsam Avenue</p><p> vision 4, Socsuba</p></li>
				</ul>
				<ul>
					<li><i class="message"></i></li>
					<li><a href="mailto:example@mail.com">test@test.cm</a><a href="mailto:example@mail.com">example@email.cm</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="footer-section">
	<div class="container">
		<div class="footer-top">
			<div class="social-icons wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
				<a href="#"><i class="icon1"></i></a>
				<a href="#"><i class="icon2"></i></a>
				<a href="#"><i class="icon3"></i></a>
				<a href="#"><i class="icon4"></i></a>
			</div>
		</div>
		<div class="footer-middle wow fadeInDown Big animated animated" data-wow-delay="0.4s">
			<div class="bottom-menu">
				<ul>
					<li><a href="/">Accueil</a></li>
					<li><a href="/about">A propos</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/products">Produits</a></li>
					<li><a href="/blog">Le Blog</a></li>
					<li><a href="/contact">Contacts</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
			<i> Copyright &copy; ElanDeJoie - 2018  Tout droits reservés</i>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
</div>