<div class="logo logo1">
    <a href="#">ElanDeJoie</a>
</div>
<div class="header-top">
    <div class="top-menu">
        <span class="menu"><img src="/assets/images/nav.png" alt=""/> </span>
        <ul>
            <% if(active == 1){ %>
                <li><a href="/" class="active">Accueil</a></li><label>/</label>
            <% }else{ %>
                <li><a href="/">Accueil</a></li><label>/</label>
            <% } %>
            
            <% if(active == 2){ %>
                <li><a href="/about" class="active">Qui sommes nous</a></li><label>/</label>
            <% }else{ %>
                <li><a href="/about">Qui sommes nous</a></li><label>/</label>
            <% } %>
            
            <% if(active == 3){ %>
                <li><a href="#" class="active">Nos présentations</a></li><label>/</label>
            <% }else{ %>
                <li><a href="#">Nos présentations</a></li><label>/</label>
            <% } %>
            
            <% if(active == 4){ %>
                <li><a href="/services" class="active">Nos Productions</a></li><label>/</label>
            <% }else{ %>
                <li><a href="/services">Nos Productions</a></li><label>/</label>
            <% } %>
            
            <% if(active == 5){ %>
                <li><a href="/products" class="active">Nos produits</a></li><label>/</label>
            <% }else{ %>
                <li><a href="/products">Nos produits</a></li><label>/</label>
            <% } %>
            
            <% if(active == 6){ %>
                <li><a href="/catalogue" class="active">Le catalogue</a></li>
            <% }else{ %>
                <li><a href="/catalogue">Le catalogue</a></li>
            <% } %>
            
            <% if(active == 7){ %>
                <li><a href="/member" class="active">Inscription</a></li>
            <% }else{ %>
                <li><a href="/member">Inscriptions</a></li>
            <% } %>
            
            <% if(active == 8){ %>
                <li><a href="/contacts" class="active">Contacts</a></li>
            <% }else{ %>
                <li><a href="/contacts">Contacts</a></li>
            <% } %>
            
        </ul>
        <script>
            $("span.menu").click(function(){$(".top-menu ul").slideToggle("slow" , function(){});});
        </script>
    </div>
    <!-- <div class="search">
        <form>
            <input type="text" value="Rechercher.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div> -->
</div>
